<div class="container my-4">
    <h1 *ngIf="displayHeading">{{title}}</h1>
    <hr />
    <label for="search">Filter</label>
    <!-- 2-way data binding is only for input elements -->
    <input type="search" id="search" class="form-control mb-4" [(ngModel)]="filterKey" (ngModelChange)="filter()" />
    {{filterKey}}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <!-- event binding (event)="event_handler()" -->
                    Image <button class="btn btn-primary" (click)="toggleImages()">{{buttonText}}</button>
                </th>
                <th>Name</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let xyz of filteredProducts">
                <td>
                    <!-- here, we are using a variable value for the attribute src -->
                    <!-- <img src={{xyz.imageUrl}} /> --> <!-- this syntax works but is slower for attributes -->
                    <img [src]="xyz.imageUrl" *ngIf="displayImages" /> <!-- this is the preferred syntax --> <!-- property binding <htmlel [attr]="variable" /> -->
                </td>
                <td>{{xyz.name}}</td> <!-- interpolation : {{variable}}-->
                <td>{{xyz.price}}</td>
                <td>{{xyz.starRating}}</td>
            </tr>
        </tbody>
    </table>
</div>
